__pycache__/
config.json
tasks.json

# Ignore sqlite databases
*.db
*.db-journal
data/*.db
data/*.db-journal
tests/*.db
tests/*.db-journal

# Ignore logs
jarvis.log
logs/

# Ignore backups
*.bak
data/*.bak

# Ignore ML models
*.pkl
data/*.pkl
